# 자동화 ci cd 과정입니다.


name: Deploy to Amazon EC2 and S3

on:
  push:
    branches:  
      - main 

# env:
                                      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 코드 확인
        uses: actions/checkout@v2

      - name: 도커 빌드 설정 진행
        uses: docker/setup-buildx-action@v2

      - name: gradlew 빌드
        run: |
          cd back
          chmod +x ./gradlew
          ./gradlew clean build -x test

      - name: 파일 위치 강제 확인 (에러 방지용)
        run: ls -R back/build/libs/
          
      - name: 백엔드 도커 이미지 빌드 및 S3 업로드
        run: |
          cd back
          docker build -t my-docker-back .
          docker save my-docker-back -o my-docker-back.tar
          
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set region ap-northeast-2
          aws s3 cp my-docker-back.tar s3://sososo-storge/my-docker-back.tar

      # --- [프론트엔드 빌드 & S3 정적 배포] ---
      - name: 프론트엔드 빌드 및 S3 싱크
        run: |
          cd front
          npm install
          CI=false npm run build
          # s3://sososo-storge 
          aws s3 sync ./build s3://sososo-storge --exclude "application.properties" --exclude "*.tar" --delete

      # --- [EC2 백엔드 실행] ---
      - name: EC2 접속 및 배포
        run: |
          echo "${{ secrets.AWS_SSH_PRIVATE_KEY }}" > private-key.pem
          chmod 600 private-key.pem
          
          ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-43-202-199-147.ap-northeast-2.compute.amazonaws.com << 'EOF'
            # 최신 백엔드 이미지 가져오기
            aws s3 cp s3://sososo-storge/my-docker-back.tar /home/ubuntu/my-docker-back.tar
            sudo docker load -i /home/ubuntu/my-docker-back.tar
            
            # 기존 백엔드 컨테이너 교체
            sudo docker stop my-back-container || true
            sudo docker rm my-back-container || true
            sudo docker run -d --name my-back-container \
              -p 4040:4040 \
              -e "SPRING_PROFILES_ACTIVE=redis" \
              my-docker-back:latest
            
            # 정리 
            sudo docker stop my-front-container || true
            sudo docker rm my-front-container || true
            sudo docker image prune -f
          EOF