# 자동화 ci cd 과정입니다.


name: Deploy to Amazon EC2 and S3

on:
  push:
    branches:  
      - main 

# env:
                                      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 코드 확인
        uses: actions/checkout@v2

      - name: 도커 빌드 설정 진행
        uses: docker/setup-buildx-action@v2

      - name: 설정 파일 가져오기
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set region ap-northeast-2
          # 빌드 경로에 맞게 application.properties를 미리 다운로드합니다.
          aws s3 cp s3://sososo-storge/application.properties back/src/main/resources/application.properties
          aws s3 cp s3://sososo-storge/application.consumer.properties back-consumer/src/main/resources/application.properties
    
      # --- [back 도커 빌드] ---
      - name: gradlew 빌드
        run: |
          cd back
          chmod +x ./gradlew
          ./gradlew clean build -x test

      - name: 파일 위치 강제 확인 (에러 방지용)
        run: ls -R back/build/libs/
          
      - name: 백엔드 도커 이미지 빌드 및 S3 업로드
        run: |
          cd back
          docker build -t my-docker-back .
          docker save my-docker-back -o my-docker-back.tar
          
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set region ap-northeast-2
          aws s3 cp my-docker-back.tar s3://sososo-storge/my-docker-back.tar
      
      # --- [back-consumer 도커 빌드] ---         
      - name: 백엔드 컨슈머 도커 이미지 빌드 및 S3 업로드
        run: |
          cd back-consumer
          chmod +x ./gradlew
          ./gradlew clean build -x test
          docker build -t my-docker-back-consumer .
          docker save my-docker-back-consumer -o my-docker-back-consumer.tar
          aws s3 cp my-docker-back-consumer.tar s3://sososo-storge/my-docker-back-consumer.tar

      # --- [프론트엔드 빌드 & S3 정적 배포] ---
      - name: 프론트엔드 빌드 및 S3 싱크
        run: |
          cd front
          npm install
          CI=false npm run build
          # s3://sososo-storge 
          aws s3 sync ./build s3://sososo-storge --exclude "application.properties" 

      # --- [EC2 백엔드 실행] ---
      - name: EC2 접속 및 배포
        run: |
          echo "${{ secrets.AWS_SSH_PRIVATE_KEY }}" > private-key.pem
          chmod 600 private-key.pem
          ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-43-202-199-147.ap-northeast-2.compute.amazonaws.com << 'EOF'
            # 1. 백엔드 업데이트
            aws s3 cp s3://sososo-storge/my-docker-back.tar /home/ubuntu/my-docker-back.tar
            sudo docker load -i /home/ubuntu/my-docker-back.tar
            sudo docker stop my-back-container || true
            sudo docker rm my-back-container || true
            sudo docker run -d --name my-back-container -p 4040:4040 \
            --add-host=host.docker.internal:host-gateway \
            -e "SPRING_PROFILES_ACTIVE=redis" \
            -e "spring.kafka.bootstrap-servers=host.docker.internal:9092" \
            my-docker-back:latest

            # 2. 컨슈머 업데이트
            aws s3 cp s3://sososo-storge/my-docker-back-consumer.tar /home/ubuntu/my-docker-back-consumer.tar
            sudo docker load -i /home/ubuntu/my-docker-back-consumer.tar
            sudo docker stop my-back-consumer-container || true
            sudo docker rm my-back-consumer-container || true
            sudo docker run -d --name my-back-consumer-container -p 4041:4041 \
            --add-host=host.docker.internal:host-gateway \
            -e "SPRING_PROFILES_ACTIVE=redis" \
            -e "spring.kafka.bootstrap-servers=host.docker.internal:9092" \
            my-docker-back-consumer:latest
          EOF