# 자동화 ci cd 과정입니다.


name: Deploy to Amazon EC2 and S3

on:
  push:
    branches:  
      - main 

# env:
                                      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 코드 확인
        uses: actions/checkout@v2

      - name: 도커 빌드 설정 진행
        uses: docker/setup-buildx-action@v2

      - name: gradlew 실행
        run: |
          cd back
          chmod +x ./gradlew 
          

      - name: S3 URL에서 application properties 다운로드
        run: |
          curl -o back/src/main/resources/application.properties https://sososo-storge.s3.ap-northeast-2.amazonaws.com/application.properties

      - name: pplication properties 다운 확인
        run: |
          ls -l back/src/main/resources/
          cat back/src/main/resources/application.properties
          
          
      - name: Gradle로 자바 파일 빌드
        run: |
          cd back
          ./gradlew build 

      - name: 빌드된 JAR 파일 확인
        run: |
          cd back
          ls build/libs/

      - name: 프론트 및 백엔드 JAR 파일 docker로 빌드
        run: |
          cd back
          docker build -t my-docker-back .
          docker save my-docker-back -o my-docker-back.tar

          cd ../front
          docker build -t my-docker-front .
          docker save my-docker-front -o my-docker-font.tar


      - name: 각 도커 이미지 사이즈 확인
        run: |
          docker images my-docker-back --format "{{.Size}}"
          docker images my-docker-front --format "{{.Size}}"


      - name: 도커 이미지를 S3에 전송 (비밀 키 사용)
        run: |
          echo "${{ secrets.AWS_SSH_PRIVATE_KEY }}" > private-key.pem
          chmod 600 private-key.pem

          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set region ap-northeast-2

          
      - name: S3에 이미 도커 이미지가 있는지 확인
        run: |
          if aws s3 ls s3://sososo-storge/my-docker-back.tar > /dev/null; then
            echo "백엔드 이미지가 S3에 이미 있습니다."
          else
            echo "백엔드 이미지가 없습니다. 업로드 중..."
            aws s3 cp ./back/my-docker-back.tar s3://sososo-storge/my-docker-back.tar
          fi

          if aws s3 ls s3://sososo-storge/my-docker-front.tar > /dev/null; then
            echo "프론트엔드 이미지가 S3에 이미 있습니다."
          else
            echo "프론트엔드 이미지가 없습니다. 업로드 중..."
            aws s3 cp ./front/my-docker-front.tar s3://sososo-storge/my-docker-front.tar
          fi


      - name: AWS CLI에 권한 획득 위해 키 정보 수집
        run: |
          aws configure set aws_access_key_id "${{ secrets.AWS_ACCESS_KEY_ID }}"
          aws configure set aws_secret_access_key "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          aws configure set region ap-northeast-2


      - name: S3에 도커 이미지 없을 시 ec2에 통합 다운로드 진행
        run: |
          echo "${{ secrets.AWS_SSH_PRIVATE_KEY }}" > private-key.pem
          chmod 600 private-key.pem
          echo "SSH키가 접속권한 획득 위해 사용됨."
          ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-43-202-199-147.ap-northeast-2.compute.amazonaws.com << 'EOF'
            echo ""연결된 EC2에서 통합 배포를 시작합니다...""

            aws sts get-caller-identity
            if [ $? -ne 0 ]; then
              echo "접속권한을 획득하지 못했습니다. 키 확인요망."
              exit 1
            fi
                        
            echo "S3에서 최신 이미지 가져오는 중..."
            aws s3 cp s3://sososo-storge/my-docker-back.tar /home/ubuntu/my-docker-back.tar
            aws s3 cp s3://sososo-storge/my-docker-front.tar /home/ubuntu/my-docker-front.tar
          EOF

      - name: ec2내 도커 파일 로드 및 실행
        run: |
          echo "${{ secrets.AWS_SSH_PRIVATE_KEY }}" > private-key.pem
          chmod 600 private-key.pem
          
          ssh -o StrictHostKeyChecking=no -i private-key.pem ubuntu@ec2-43-202-199-147.ap-northeast-2.compute.amazonaws.com << 'EOF'
            echo "백엔드 컨테이너 실행 중..."
            sudo docker load -i /home/ubuntu/my-docker-back.tar
            sudo docker stop my-back-container || true
            sudo docker rm my-back-container || true
            sudo docker run -d --name my-back-container \
              --add-host=host.docker.internal:host-gateway \
              -e "SPRING_PROFILES_ACTIVE=redis" \
              -p 4040:4040 my-docker-back:latest

            echo "프론트엔드 컨테이너 실행 중..."
            sudo docker load -i /home/ubuntu/my-docker-front.tar
            sudo docker stop my-front-container || true
            sudo docker rm my-front-container || true
            sudo docker run -d --name my-front-container \
              -p 80:3000 my-docker-front:latest

            sudo docker image prune -f
            echo "모든 과정이 정상 처리 되었습니다."
          EOF
      
          
          
          
          
